@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Swiper Js Css */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
}
